{% load staticfiles %}
<html lang="es" ng-app="DiscusionAbiertaApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'bower_components/angular-material/angular-material.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body ng-controller="ActaCtrl" ng-cloak>
  <div layout="column" layout-align="center">
    <div ng-repeat="itemGroup in itemsGroups">
      <div class="grupoitems_encabezado">
        <div class="nombre">{$ itemGroup.nombre $}</div>
        <div class="descripcion">{$ itemGroup.descripcion $}</div>
      </div>
      <div class="grupoitems_item_encabezado" layout="row">
        <div class="par" flex="25">VALOR / PRINCIPIO</div>
        <div class="impar centrar_texto" flex="15">CATEGORÍA</div>
        <div class="par" flex=60>FUNDAMENTO</div>
      </div>
      <div class="item" ng-repeat="item in itemGroup.items" layout="row">
        <div class="container_nombre" flex=25>
          <textarea class="nombre" ng-model="item.nombre"></textarea>
        </div>
        <md-radio-group class="categoria" layout="column" ng-model="item.categoria" flex=15>
          <md-radio-button value="1" class="par">Acuerdo</md-radio-button>
          <md-radio-button value="0" class="impar">Acuerdo parcial</md-radio-button>
          <md-radio-button value="-1" class="par">Desacuerdo</md-radio-button>
        </md-radio-group>
        <div class="container_fundamento" flex=60>
          <textarea class="fundamento" ng-model="item.fundamento"></textarea>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
  <script src="{% static 'bower_components/angular-aria/angular-aria.min.js' %}"></script>
  <script src="{% static 'bower_components/angular-messages/angular-messages.min.js' %}"></script>
  <script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
  <script src="{% static 'bower_components/angular-material/angular-material.min.js' %}"></script>
  
  <script type="text/javascript">
    angular.module('DiscusionAbiertaApp', ['ngMaterial'])
      .config(function ($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
    });

    angular.module('DiscusionAbiertaApp').controller('ActaCtrl', function ($scope) {
      $scope.itemsGroups = [
        {
          nombre: 'VALORES Y PRINCIPIOS',
          descripcion: '¿Cuáles son los VALORES Y PRINCIPIOS más importantes que deben inspirar y dar sustento a la Constitución?',
          items: [
            {nombre: ''}
          ]
        },
        {
          nombre: 'DERECHOS',
          descripcion: '¿Cuáles son los DERECHOS más importantes que la Constitución debiera establecer para todas las personas?',
          items: [
            {nombre: ''}
          ]
        },
        {
          nombre: 'DEBERES Y RESPONSABILIDADES',
          descripcion: '¿Cuáles son los DEBERES Y RESPONSABILIDADES más importantes que la Constitución debiera establecer para todas las personas?',
          items: [
            {nombre: ''}
          ]
        },
        {
          nombre: 'INSTITUCIONES',
          descripcion: '¿Qué INSTITUCIONES debe contemplar la Constitución?',
          items: [
            {nombre: ''}
          ]
        }
      ];
    });
  </script>
</body>
</html>
